<ion-view hide-nav-bar="true"> 
	<ion-content class="messages-content">
		<div class="list list-inset" ng-repeat="item in messages">

		    <a class="item item-avatar" href="#">
		      <img src="img/{{item.shortname}}_tn.jpg">
		      <h2>{{item.name | limitTo: 20}}
		          {{item.name.length > 20 ? '&hellip;' : ''}}
			  </h2>
		      <p>{{item.reknown | limitTo: 30}}
  		         {{item.reknown.length > 30 ? '&hellip;' : ''}}
		      </p>
		      <span class="badge badge-assertive">{{$index}}</span>
		    </a>

		</div>	
</ion-content>
</ion-view>