<ion-view title="Sign Up">
	<div class="list has-header padding">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label required">Name</span>
	    <input type="text" placeholder="Rishabh Bhatia
	    " ng-model="signupdata.name">
	  </label>
	  <!-- <label class="item item-input item-stacked-label">
	    <span class="input-label">Last Name</span>
	    <input type="text" placeholder="Bhatia" ng-model="signupdata.lname">
	  </label> -->
	  <label class="item item-input item-stacked-label">
	    <span class="input-label required">Email</span>
	    <input type="text" placeholder="rishabh@example.com" ng-model="signupdata.email">
	  </label>

	  <button class="button button-block button-positive" ng-click="signup()">
	   Sign Up
	  </button>
	</div>

</ion-view>
