<ion-tabs class="tabs-stable tabs-top tabs-icon-only">

    <ion-tab icon-on="ion-ios-pint" icon-off="ion-ios-pint-outline"
    href="#/tab/home">
    	<ion-nav-view name="home-tab" > </ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
    href="#/tab/messages">
    	<ion-nav-view name="messages-tab" > </ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
    href="#/tab/profile">
        <ion-nav-view name="profile-tab" > </ion-nav-view>
    </ion-tab>

</ion-tabs>