.login-bg {
	background: url('http://cdn.wallpaper.com/main/casa-en-el-pacifico_01.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	display: table;
  	width: 100%;
  	background-color: gray;
}

.login-input {
 	width: 70%;
 	margin: 2% auto;
 	text-align: left;
 	padding: 0% 5%;
 	border: 0px;
 	text-align: center;
	border-radius: 5px;
}

 .login-input-holder {
 	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
}

.login-sign-in-button {
	width: 70%;
	background-color: green;
	color: white;
	border: 0px;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 10%;
}

.login-logo {
	width: auto;
	height: 30%;
	margin: 15% auto;
}

.login-footer-holder {
	margin: 15% auto;
}

.login-new-user {
	font-size: 15px;
	color: white;
	width: 100%;
	text-decoration: none !important;
	font-style: bold;
}

.login-forgot-password {
	font-size: 15px;
 	color: white;
 	width: 100%;
 	text-decoration: none !important;
 	font-style: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.tab_selected {
	color: red;
}

.home-content {
	padding: 0% 3%;
}

.home-event-cover-photo {
	max-height: 175px;
}

.messages-content {
	padding: 0% 3%;
}

.profile-content {
	padding: 0% 3%;
}

.profile-avatar {
	margin: 15% 0;
}

.profile-photo {
	max-height: 25%;
	max-width: 25%;
}

.profile_heading_name {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px;
}